@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* ################ css reset ################ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

/* ############### html element styling ########## */
html{
    font-size: 62.5%;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}


/* ################### utility classes ################## */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color:#333;
}

.text-grey{
    color: #555;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    border-radius: 10em;
}

.btn-primary{
    background-color: white;
}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary{
    background-color: white;
    border: 2px solid #e63946;
    border-radius: 1.5em;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}

.bg-dark{
    background-color: #263238;
}


.center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }

/* ################## header styling ################## */

.header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) ) , url("../img/artur-rutkowski-GdTLaWamFHw-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


.header .navbar{
    background-color:antiquewhite;
    color: black;
    border: 2px sold black;
}

.header .navbar .logo{
    float: left;
    width: 7%;
    height: 12vh;
    margin-left: 30px;
    margin-top: 6px;
}

.header .navbar .logo img{
    max-width: 100%;
    max-height: 100%;
}

.header .navbar .nav-items{
   width: 37%;
   height: 10vh;
   float: right;
   margin-top: 25px;
}

.header .navbar::after{
    content: "";
    display: block;
    clear: both;
}


.header .navbar .nav-items .nav-item{
    display: inline-block;
    margin: 10px;

}

.header .navbar .nav-items .btn{
    border: 2px solid black;
}

.logo{
    display: inline-block;
    height: auto;
    width: auto;
    object-fit: cover;
    background: url(".img/logo.jpeg");
}

/* ################## header content styling ############################### */

.header-content{
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}


.header-content p{
    text-transform: uppercase;
}

.header-content a.btn{
    margin: 1rem;
}


/* #################### section 1 styling ################### */

.second{
    background-color: antiquewhite;
    height: 50vh;
    color: black;
}

.second .info-para p{
    text-align: center;
    margin-top: 5rem;
}

/* ###################### showcase styling ##################### */

.showcase{
    background: #ddd;
    padding: 10em 0;
}

.row{
    height:35em;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.row1{
    margin-bottom: 10em;

}

.row1 .img-box,
.row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box,
.row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .text-box{
    padding: 3em;
}

.row1 .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row2 .img-box img{
    display: inline block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}


/* ################### footer styling ######################### */

.footer{
    padding: 2rem;
    background-color: #263238;
    color: #f4f4f4;
    text-align: center;
}

.footer .social-media-links i{
    margin: 2rem; 
    color: #f4f4f4; 
}








