@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* ################ css reset ################ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

/* ############### html element styling ########## */
html{
    font-size: 62.5%;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}


/* ################### utility classes ################## */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color:#333;
}

.text-grey{
    color: #555;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    border-radius: 10em;
}

.btn-primary{
    background-color: white;
}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary{
    background-color: white;
    border: 2px solid #e63946;
    border-radius: 1.5em;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}

.bg-dark{
    background-color: #263238;
}


.center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }

/* ################## header styling ################## */

.header .navbar{
    background-color:antiquewhite;
    color: black;
    border: 2px sold black;
}

.header .navbar .logo{
    float: left;
    width: 7%;
    height: 12vh;
    margin-left: 30px;
    margin-top: 6px;
}

.header .navbar .logo img{
    max-width: 100%;
    max-height: 100%;
}

.header .navbar .nav-items{
   width: 37%;
   height: 10vh;
   float: right;
   margin-top: 25px;
}

.header .navbar::after{
    content: "";
    display: block;
    clear: both;
}


.header .navbar .nav-items .nav-item{
    display: inline-block;
    margin: 10px;

}

.header .navbar .nav-items .btn{
    border: 2px solid black;
}

.logo{
    display: inline-block;
    height: auto;
    width: auto;
    object-fit: cover;
    background: url(".img/logo.jpeg");
}

/* ################## header content styling ############################### */

.header-content{
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}


.header-content p{
    text-transform: uppercase;
}

.header-content a.btn{
    margin: 1rem;
}



/* ################### footer styling ######################### */

.footer{
    padding: 2rem;
    background-color: #263238;
    color: #f4f4f4;
    text-align: center;
}

.footer .social-media-links i{
    margin: 2rem; 
    color: #f4f4f4; 
}


/* ######################### About page styling ######################### */

.about{
    padding: 5rem 0rem;
}

.about-heading::after{
    content: "";
    display: block;
    border-bottom: 0.2em solid #e63946;
    width: 100%;

}


/* ################## about wrapper styling ####################### */


.about-wrapper{
    text-align: center;
    margin-top: 2rem ;
}

.about-wrapper ul li::before{
    content: "\2713";
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

.about-wrapper .left{
    float:left;
    width: 50%;
}
.about-wrapper .right{
    float: right;
    width: 50%;
}

.about-wrapper::after{
    content: " ";
    display: block;
    clear: both;
}



/* ################### count styling ############################### */

.counts{
    margin-top: 2rem;
}


.counts .count-item{
    float: left;
    width: 25%
}

.counts::after{
    content: "";
    display: block;
    clear: both;
}

.counts .count-item span{
    display: block;
    text-align: center;
    color: #e63946;
    font-weight: 700;
    font-size: 3rem;
}
.counts .count-item p{
    text-align: center;
    color: #555;
    font-weight: bold;
    font-size: 1.8rem;
}



/* ################# banner styling ######################### */

.cta-banner{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.055);
    margin-top: 3rem;
}

.cta-banner-left{
    width: 60%;
    float: left;
}

.cta-banner-right{
    width: 40%;
    float: right;
    text-align: right;
}

.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3rem 2.5em;
    letter-spacing: 0.5rem;
    color: #f4f4f4;
}

.cta-banner::after{
    content: "";
    display: block;
    clear: both;
}


/* ############## contact page styling ######################### */

.contact-form{
    padding: 5rem 0;
    background-color: #f7f7f7;
}



.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.form-wrapper .company-address{
    height: 760px;
    background-color: #fff;
    float: left;
    width: 49%;
    padding: 1rem;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-left: 1rem;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper .company-address img{
    width: 90%;
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

/* ################ form styling ###################### */
.form-wrapper .form{
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
    float: right;
    width: 49%;
    padding: 1rem;
}

.form h1::after{
    content: "";
    display: block;
    border-bottom: 6px solid #ee4758;
}


.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form .required::after{
    content:"*";
    color: #e63946;
}


.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    border: none;
    cursor: pointer;

}



/* ########################## donate page styling #####################3 */

.section-donate{
    height: 80vh;
}


.section-donate .map-section{
    float: left;
    height: 100%;
    width: 50%;
}

.section-donate .right-section{
    float: right;
    height: 100%;
    width: 50%;
}

.section-donate .right-section .text-box{
    border: 2px solid black;
    margin: 20px;
}

.section-donate .right-section  .text-box  textarea{
    width: 95%;
    height: 30vh;
    margin-left: 20px;
}
