<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\style2.css">
    <script src="https://kit.fontawesome.com/f589bee7d1.js" crossorigin="anonymous"></script>
    <title>about | foodify</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="\static\img\logo.jpeg" alt="this is logo image">
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="\templates\about.html">Who we are</a></li>
                <li class="nav-item"><a href="\templates\index.html">Home</a></li>
                <li class="nav-item"><a href="\templates\contact.html">Contact</a></li>
                <li class="nav-item btn btn-primary text-red"><a href="\templates\signup.html">login</a></li>
            </ul>
        </nav>   
    </header>


    <section class="about">
        <div class="container">
            <h2 class="lg-heading text-black about-heading">About Us</h2>
            <p class="text-grey"> The Foodify is a website created in order to lessen the wastage of food.Countless children sleep at night empty stomach. Our aim is to give the leftover food to NGO/ individual so that they could distribute to the people in need!</p>
            <div class="about-wrapper">
                <div class="left">
                    <ul>
                        <li>Aakash Roy (Backend Engineer)</li>
                        <li>Archit Jain (Frontend Engineer)</li>
                        <li>Aryan Singh (Frontend Engineer)</li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>Aryan Gaba (UI/UX Designner and Content Writer)</li>
                        <li>Devanshi Parbanda (UI/UX Designner and Content Writer)</li>
                    </ul>
                </div>
            </div>

            <div class="counts">
                <div class="count-item count-item1">
                    <span>500,000+</span>
                    <p>Users</p>
                </div>
                <div class="count-item count-item2">
                    <span>50+</span>
                    <p>Cities</p>
                </div>
                <div class="count-item count-item3">
                    <span>100,000+</span>
                    <p>Served</p>
                </div>
                <div class="count-item count-item4">
                    <span>1000+</span>
                    <p>NGOs</p>
                </div>
            </div>

            <div class="cta-banner">
                <div class="cta-banner-left">
                    <p class="cta-line">What are you waiting for, reach us right now.</p>
                </div>
                <div class="cta-banner-right">
                    <a href="./contact.html" class="btn-cta">contact us</a>
                </div>
            </div>

        </div>
    </section>


    <footer class="footer">
        <div class="social-media-links">
            <a href="https://facebook.com" ><i class="fab fa-facebook fa-3x"></i></a>
            <a href="https://twitter.com" ><i class="fab fa-twitter fa-3x"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://instagram.com"><i class="fab fa-brands fa-github fa-3x"></i></a>
        </div>
        <p>foofify &copy; 2022, All Rights Reserved</p>        
</footer>


   
</body>
</html>