<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\style1.css">
    <script src="https://kit.fontawesome.com/f589bee7d1.js" crossorigin="anonymous"></script>
    <title>foodify</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="\static\img\logo.jpeg" alt="this is logo image">
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="\templates\about.html">Who we are</a></li>
                <li class="nav-item"><a href="\templates\index.html">Home</a></li>
                <li class="nav-item"><a href="\templates\contact.html">Contact</a></li>
                <li class="nav-item btn btn-primary text-red"><a href="\templates\signup.html">login</a></li>
            </ul>
        </nav>

        <div class="header-content">
            <h1 class="main-heading lg-heading text-light">Food everywhere</h1>
            <p class="text-light">food is the need and right of everyone.</p>
            <a href="./signup/index.html" class="btn btn-primary text-red">Donate</a>
            <a href="./signup/index.html" class="btn btn-primary text-red">Recieve</a>
            
        </div>
        
    </header>


    <section class="second">
        <div class="info-para center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur itaque tempora laboriosam nostrum dolor ipsam ratione odit laudantium incidunt molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolore dicta eos a placeat eaque unde possimus rem molestiae consequatur sit dolorem, iste repellendus quibusdam optio deserunt odio minima nostrum! Hic alias voluptatem expedita velit, vitae assumenda porro et odit, laborum cupiditate facere fuga architecto rerum ipsum ipsa sequi magni odio at nemo labore doloremque nostrum ipsam. Illum neque beatae laborum illo omnis repellat natus itaque odit, nulla eaque at repellendus maiores velit saepe eveniet, earum, magni eos perferendis assumenda ipsa placeat et esse reiciendis commodi! Odit porro animi impedit a, aut, pariatur nihil nemo quae eos ratione facilis deleniti.</p>
        </div>
    </section>

    <section class="showcase">
        <div class="container">
            <div class="row row1">
                <div class="img-box">
                    <img src="../img/showcase-photo3.jpg" alt="">
                </div>
                <div class="text-box">
                    <h2 class = 'lg-heading text-black'>Heading 1</h2>
                    <P class="text-grey"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, a.   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, repellendus!</P>
                    <a href = "./about.html" class="btn text-red btn-secondary">More</a>
                </div>
            </div>
            <div class="row row2">
                <div class="img-box">
                    <img src="../img/showcase-photo1.jpg" alt="">
                </div>
                <div class="text-box">
                    <h2 class = 'lg-heading text-black'>Heading 2</h2>
                    <P class="text-grey">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, molestias!  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, tempore!   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, repellendus!</P>
                    <a  href = "./about.html"  class="btn  text-red  btn-secondary">MORE</a>
                </div>
            </div>
        </div>

    </section>

    <footer class="footer">
        <div class="social-media-links">
            <a href="https://facebook.com" ><i class="fab fa-facebook fa-3x"></i></a>
            <a href="https://twitter.com" ><i class="fab fa-twitter fa-3x"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://instagram.com"><i class="fab fa-brands fa-github fa-3x"></i></a>
        </div>
        <p>foofify &copy; 2022, All Rights Reserved</p>        
</footer>
</body>
</html>