<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\style1.css">
    <script src="https://kit.fontawesome.com/f589bee7d1.js" crossorigin="anonymous"></script>
    <title>foodify</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="\static\img\logo.jpeg" alt="this is logo image">
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href={% url 'about' %}>Who we are</a></li>
                <li class="nav-item"><a href={% url 'index' %}>Home</a></li>
                <li class="nav-item"><a href={% url 'contact' %}>Contact</a></li>
                <li class="nav-item btn btn-primary text-red"><a href="signup.html">login</a></li>
            </ul>
        </nav>

        <div class="header-content">
            <h1 class="main-heading lg-heading text-light">Food everywhere</h1>
            <p class="text-light">food is the need and right of everyone.</p>
            <a href={% url 'donate' %} class="btn btn-primary text-red">Donate</a>
            <a href={% url 'recieve' %} class="btn btn-primary text-red">Recieve</a>
        </div>
        
    </header>


    <section class="second">
        <div class="info-para center">
            <p>There is no doubt that Indian weddings are a huge event! Tons of food is prepared for the grand wedding celebrations, but does all that food get eaten? Ans is BIG NO! In fact, all that food is thrown away and wasted.
            The Foodify is a website created in order to lessen the wastage of food. 
            Countless children sleep at night empty stomach. 
            Our aim is to give the leftover food to NGO/ individual so that they could distribute to the people in need!</p>
        </div>
    </section>

    <section class="showcase">
        <div class="container">
            <div class="row row1">
                <div class="img-box">
                    <img src="\static\img\heading-1 pic.jpeg" alt="">
                </div>
                <div class="text-box">
                    <h2 class = 'lg-heading text-black'>What is Foodify?</h2>
                    <P class="text-grey">  Foodify is the website created in order to lessen the food wastage. This will help to connect the manager/owner of banquet to the NGOs who further can distribute this food to the people in need. </P>
                    <a href = {% url 'about' %} class="btn text-red btn-secondary">More</a>
                </div>
            </div>
            <div class="row row2">
                <div class="img-box">
                    <img src="\static\img\heading-2 pic.jpeg" alt="">
                </div>
                <div class="text-box">
                    <h2 class = 'lg-heading text-black'>Why Foodify?</h2>
                    <P class="text-grey">There have been a lot of surveys conducted which proved after an event, there's a lot of food left which ultimately gets dumped.Our aim is to connect the owner/manager of banquet halls where such food is left to the NGOs who tend to distribute this food to the needy people.</P>
                    <a  href = {% url 'about' %}  class="btn  text-red  btn-secondary">MORE</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="social-media-links">
            <a href="https://facebook.com" ><i class="fab fa-facebook fa-3x"></i></a>
            <a href="https://twitter.com" ><i class="fab fa-twitter fa-3x"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://github.com/CypherX-team/Foodify"><i class="fab fa-brands fa-github fa-3x"></i></a>
        </div>
        <p>foofify &copy; 2022, All Rights Reserved</p>        
</footer>
</body>
</html>
